/*-------------------QScrollArea-------------------*/
QScrollArea {
	background-color: #2E2F41;
	border-width: 0px;
	
}

/*--------------------QGroupBox--------------------*/
QGroupBox {
	background-color: #393A4D;
	border-radius: 10%;
	/*margin: 15px;*/
	padding: 10px;
}

/*-------------------QPushButton-------------------*/
QPushButton { 

	background-color: #EFEFEF;
	border-radius: 5%;
	height: 30px;
	width: 170px;
}

QPushButton:hover:pressed { 
	background-color: #289793;
	border-color: rgb(53, 96, 146);
	color: blue; 
}

/*-------------------QRadioButton------------------*/
QRadioButton {
	background-color: rgba(0, 128, 0, 0);
}

/*--------------------QLineEdit--------------------*/
QLineEdit {
	background-color: rgb(196, 197, 199);
}

QLineEdit:hover {
	background-color: #e2e2e2;
}

QLineEdit:focus {
	background-color: white;
}

QLineEdit:disabled {
	background-color: white;
}

/*-----------------QPlainTextEdit------------------*/
QPlainTextEdit {
	background-color: rgb(196, 197, 199);
}

QPlainTextEdit:hover {
	background-color: #e2e2e2;
}

QPlainTextEdit:focus {
	background-color: white;
}

QPlainTextEdit:disabled {
	background-color: white;
}

QPlainTextEdit#win_transfer {
	height: 1000px;
}

/*----------------------QLabel---------------------*/
QLabel {
    font-size: 15px;
    border-radius: 5px;
    /*background-color: rgba(255, 255, 255, 0.4);*/
    color: white;
    font-weight: bold;
    padding: 5px;
}

QLabel#movie {	
	background-color: rgba(255, 255, 255, 0);
	padding: 5px;
}

/*---------------------QComboBox-------------------*/
QComboBox {
	background-color: rgb(11, 216, 4);
	border: 2px solid green;
	border-radius: 5px;
	text-align: center;
	padding-left: 10px;
}

QComboBox:hover {
	background-color: rgb(123, 243, 123);
	border-color:  rgb(44, 139, 44);
}

QComboBox::drop-down {
	background-color: rgb(11, 216, 4);
	border-radius: 5px;
}

QComboBox::down-arrow {
	position: absolute;
	width: 6px;
	height: 6px;
	background: rgba(0, 0, 0, 0);
	border-bottom: 2px solid rgb(44, 139, 44);
	border-left: 2px solid rgb(44, 139, 44);
	color: rgba(0, 0, 0, 0);
}

QPushButton#menu_bton {
    width:100px;
}
QPushButton#out_bton{
    width:50px;
}

QLabel#curr_lab
{
    width:200px;
}
QFrame#acc_frame
{
    border: 1px solid black;
    border-radius:20px;

}
QLabel#quick_lab {
    width: 200px;
}
QFrame#quick_wid {
    border: 1px solid black;
    border-radius: 20px;
}

QWidget#tool_box_wgt {

	background-color: rgba(0, 0, 0, 0);

}

QLabel#tool_box_lbl {
	font-size: 10px;
	color: #fff;

}

QMessageBox {
	background-color: #393A4D;
}